@import "~bootstrap/scss/bootstrap";  // bootstrap


input,
button {
    grid-column: 2 / 3;
}

label {
  grid-column: 1 / 2;
}


.login-form {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  margin: 10px 0px;
  padding: 0px 10px;
}
